<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

		<!-- Font Family -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

        <title>YelpCamp</title>
    </head>
    <body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
			<a class="navbar-brand" href="/"><i class="fas fa-tree"></i> YelpCamp</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse my-auto" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %> nav-link" href="/campgrounds">Home</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<% if(!currentUser) { %>
						<li class="nav-item">
							<a class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %> nav-link  py-auto" href="/login">Login</a>
						</li>
						<li class="nav-item">
							<a class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %> nav-link " href="/register">Sign Up</a>
						</li>
					<% } else {%>
						<li class="nav-item">
							<a class="nav-link" href="/users/<%= currentUser.id %>"><span class="badge badge-success p-2"><i style="color:white; font-size: 12px;" class="fas fa-user m-0 pr-2"></i><%= currentUser.username %></span></a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Notifications <span class="badge badge-light"><%= notifications.length %></span> 
							</a>
							<ul class="dropdown-menu dropdown-menu-right"  aria-labelledby="dropdownMenuLink">
								<li class="p-2 m-auto">
									<a class="dropdown-item" href="/notifications">View past notifications</a>
								</li>
								<% notifications.forEach(function(notification) { %> 
									<li>
										<a class="dropdown-item" href="/notifications/<%= notification.id %>">
											<%=notification.username %> created a new post
										</a>
									</li>
								<% }); %> 
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
					<% } %> 
				</ul>
			</div>
		</nav>
		<div class="container">
			<% if(error && error.length > 0) { %>
				<div class="alert alert-danger" role="alert"><%= error %></div>
			<% } %>
			<% if(success && success.length > 0) { %>
				<div class="alert alert-success" role="alert"><%= success %></div>
			<% } %>
		</div>
		<div class="container">
		
