<%- include("../partials/header") %> 

<header class="jumbotron">
    <div class="container">
        <h1><i class="fas fa-campground"></i> Welcome To YelpCamp!</h1>
        <p class="lead">View our hand-picked campgrounds from all over the world.</p>
        <a href="/campgrounds/new" class="btn btn-info btn-lg">Add New Campground</a>
        <hr>
        <form action="/campgrounds" method="GET" class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-2" type="text" name="search" placeholder="Search" style="width: 235px;">
            <input type="submit" value="Search" class="btn btn-secondary my-2 my-sm-0">
        </form>
        <% if(noMatch !== null) { %>
            <p class="text-muted mt-2"><%= noMatch %></p>
        <% } %>
    </div>
</header>
<div class="row" >
    <% campgrounds.forEach(function(campground) { %> 
        <div class="col-md-4 mb-3">
            <div class="card text-center">
                <img class="card-img-top" src="<%= campground.img %>" alt="<%= campground.name %>">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.name %>
                        <span class="badge badge-secondary" style="font-size: 12px;"><i class="fas fa-thumbs-up"></i> <%= campground.likes.length %></span>
                    </h5>
                    <% if(campground.rating === 0) { %> 
                        <div><em>No reviews yet.</em></div>
                    <% } else { %> 
                        <div>
                            <i class="fas fa-star checked"></i>
                            <i class="fas fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></i>
                            <i class="fas fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></i>
                            <i class="fas fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></i>
                            <i class="fas fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></i>
                        </div>
                    <% } %>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-info mt-2">More Info</a>
                </div> 
            </div>
        </div>
    <% }); %> 
</div>
<!-- Pagination Starts -->
<nav aria-label="Page navigation">
    <% if(pages && pages > 0) { %> 
        <ul class="pagination justify-content-center">
            <!-- Active/disable "<< & First" items. -->
            <% if(current == 1) { %>
                <li class="page-item disabled"><a class="page-link">First</a></li>
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
            <% } else { %>
                <li class="page-item"><a href="/campgrounds" class="page-link">First</a></li>
                <li class="page-item">
                    <a href="/campgrounds?page=<%= Number(current) - 1 %>" class="page-link"><span aria-hidden="true">&laquo;</span></a>
                </li>
            <% } %>
            
            <!-- Defining var i -->
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> 

            <% if(i !==1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %> 
            <% for(; i <= (Number(current) + 4)&& i <= pages; i++) { %>
                <% if(i == current) { %>
                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= i %>"> <%= i %> </a></li>
                <% } %>
                <% if(i == Number(current) + 4 && i < pages) { %> 
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %> 
            <% } %>
            <!-- Active/disable ">> & Last" items -->
            <% if(current == pages) { %>
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                </li>
            <% } else { %>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" href="/campgrounds?page=<%= Number(current) + 1 %>">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                    <li class="page-item"><a href="/campgrounds?page=<%= pages %>" class="page-link">Last</a></li>
                </li>
            <% } %> 
        </ul>
    <% } %> 
</nav>

<%- include("../partials/footer") %> 