<%- include("../partials/header") %> 

<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col">
                    <p class="info-pro mt-3 ml-4"><%= user.firstName + " " + user.lastName %></p>
                </div>
                <% if(currentUser &&  !user._id.equals(currentUser._id)) { %> 
                    <% if(currentUser && user.followers.some(function(follower) {  return follower.equals(currentUser._id)  })) { %> 
                    <div class="col my-auto d-flex justify-content-end mr-3">
                        <a  href="/follow/<%= user.id %>" class="btn btn-danger follow"> Unfollow</a>
                    </div>
                    <% } else { %>
                        <div class="col my-auto d-flex justify-content-end mr-3">
                            <a  href="/follow/<%= user.id %>" class="btn btn-info follow"><i class="fas fa-plus"></i> Follow</a>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <hr class="mt-0">
            <img class="img-fluid img-thumbnail m-auto" src="<%= user.avatar %> " alt="user profile image" width="200px">
            <hr class="mb-0">
            <div class="card-body">
                <p class="info-pro"><i class="far fa-user"></i>@<%= user.username %></p>
                <p class="info-pro"><i class="far fa-envelope"></i><%= user.email %></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-title info-pro text-center mt-3"><%= user.username %>'s Campgrounds</h5>
            <hr>
            <% campgrounds.forEach(function(campground) { %> 
                <div class="row no-gutters text-center">
                    <div class="col-md-7 m-auto">
                        <img src="<%= campground.img %>" class="card-img" alt="..." style="max-width: 150px;">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <a class="info-pro mb-3" href="/campgrounds/<%= campground.id %>"><%= campground.name %></a>
                            <p class="card-text"><small class="text-muted"><%= campground.createdAt.toDateString() %></small></p>
                        </div>
                    </div>
                </div>
                <hr>
            <% }); %> 
        </div>
    </div>
</div>

<%- include("../partials/footer") %> 

